# .envrc - direnv configuration for automatic Nix environment loading
# 
# This file enables automatic loading of the Nix development environment
# when you cd into this directory (if you have direnv installed).
#
# Setup:
#   1. Install direnv: https://direnv.net/
#   2. Add `eval "$(direnv hook bash)"` to your ~/.bashrc (or equivalent for your shell)
#   3. Run `direnv allow` in this directory
#
# After setup, the Nix environment will automatically activate when you
# enter this directory and deactivate when you leave.

use flake
